.font-2-xl {
    font: 400 15px "League Spartan", sans-serif;
  }

.font-1-xl {
    font: 500 2rem/1.25 "League Spartan", sans-serif;
  }

.font-1-xxl {
    font: 700 4rem/1.125 "League Spartan", sans-serif;
}