.layout {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 360px;
    padding-top: 60px;
}

.descricao-titulo {
    padding-top: 20px;
}

.rateds {
    padding: 40px;
}

.rateds ul li {
    display: flex;
    list-style: none;
    color: var(--cor-1);
    background-color: var(--cor-4);
    font-weight: bold;
    padding: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.rateds ul li img {
    margin-right: 10px;
}

@media (max-width: 375px) {
    .section-1 {
        display: block;
        margin-left: 20px;
        gap: 20px;
    }
}